*.1 linguist-language=Text
*.2 linguist-language=Text
*.3 linguist-language=Text
*.4 linguist-language=Text
*.5 linguist-language=Text
*.6 linguist-language=Text
*.7 linguist-language=Text
*.8 linguist-language=Text
*.9 linguist-language=Text
*.10 linguist-language=Text
*.11 linguist-language=Text
*.12 linguist-language=Text
