{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center" style="background-color:#FFB6C1">    
    <h1>Reset Password</h1>
    </div>

    <div class="container" style="margin: auto; width: 20%;">
    <form action="" method="post">
        
        {{ form.hidden_tag() }}
        <div class="form-group">
         <p>{{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p></div>

        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}

